fieldset{
    background-color: rgba(71, 44, 172, 0.4);
    border-style: double;
}


fieldset label{ /*alinhar os inputs do formulario*/
    display: block;
    width: 30%;
    float:left; 
}


body{
    justify-content: center;
    margin-left: 50;
    margin-top: 5;
}

fieldset{
    border: 2px solid;
    border-radius: 10px;
    width: 40%;
}

textarea label{
    border: 2px solid;
    border-radius: 10px;
    width: 40%;
}
